{% if (kernel == "Darwin") -%}
# because all mac terminals start a login session, .bash_profile is sourced
# instead of .bashrc (which is only sourced for non-login shells).
source ${HOME}/.bashrc
{% endif %}
