[user]
	name = Mike Waters
	email = {{ git['mail'] }}
    xxx = {{ pypi['username'] }}
[core]
	autocrlf = input
	editor = vim
[color]
	ui = auto
[color "branch"]
	current = red
	local = yellow
	remote = green
[color "diff"]
	meta = cyan
	frag = magenta
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	branches = branch -vv
	remotes = remote -vv
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --date-order
	who = shortlog -s --
    conflicts = diff --name-only --diff-filter=U
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
