[distutils]
index-servers =
        {% for server in pypi_index_servers -%}
        {{ server['name'] }}
        {%- endfor %}

{% for server in pypi_index_servers -%}
[{{ server['name'] }}]
repository = {{ server['repository'] }}
username = {{ server['username'] }}
password = {{ server['password'] }}
{% endfor %}

