[distutils]
index-servers =
        {% for name, server in pypi_index_servers.items() -%}
        {{ name }}
        {%- endfor %}

{% for name, server in pypi_index_servers.items() -%}
[{{ name }}]
repository = {{ server['repository'] }}
username = {{ server['username'] }}
password = {{ server['password'] }}
{% endfor %}

